p{
  font-size:18px;
  text-indent:8%;
  color:rgb(6, 6, 6);
}
*{
  margin:0.15% 0.5%;
}
h1{
  text-shadow:1.5px 2px 1px rgb(135, 128, 175);
  margin:2% auto;
  text-align: center;
}

h2,h3,h4{
  text-shadow:1px 1px 2px grey;
  text-indent:5%;
}

body{
  background-color:#729ea4;
}

.SyntaxHighlighter {
  width: 70%; 
  margin: 3% auto;
  border-radius:20px;
  border:2px solid black;
  box-shadow:4px 6px 4px 10px grey;
}